.picture__input{
    max-width:  358px;
    max-height: 27.26px;
    font-family: 'Inter', "Arial ", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    margin-left: 36px;
    margin-top: 30px;
}
.picture__input:first-of-type{
    margin-top: 0px;
}
@media screen and (max-width: 910px){
    .picture__input{
        margin-top: 30px;
        margin-left: 22px;
        margin-right: 22px;
    }
}