.picture__popup__title{
    margin-left: 36px;
    margin-top: 34px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}
@media screen and (max-width: 910px){
    .picture__popup__title{
        margin-left: 22px;
        font-size: 27px;
        line-height: 33px;
        max-width: 238px;
    }
}